

<br>

<div class="row" class="info-container">
	<header class="class-md-12 intro-header">
		<div class="col-md-3" id="learning-tag">
			<h3>Build your learning list </h3>
		</div>
		<div class="col-md-9" id="learning-focus">
			You want to focus on <br>
			<strong> Leading teams </strong>
		</div>
	</header>

  <div class="col-md-3" style="padding: 0;">
		<div class="start-log-container">
			<button class="btn btn-primary"> Create New Log </button>
		</div>
  		<section class="log-form">
			<header>
				<h4> Your Log List </h4>
			</header>
			<footer>
			<form {{action "login" on="submit"}}>
				<div class="control-group">
					<div class="control-label">
						<label> Details </label>
					</div>
					<div class="control">
						{{input class="input-group" value=details placeholder="Details of your session" type="text"}}
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">
						<label> Log Hours </label>
					</div>
					<div class="control">
						{{input class="input-group" value=duration placeholder="How many hours?" type="text"}}
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">
						<label> Weaknesses </label>
					</div>
					<div class="control">
						{{input class="input-group" value=weakness placeholder="What were weaknesses?" type="text"}}
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
</footer>
  		</section>


  </div>



  <div class="col-md-9" style="padding: 0;">

  	<div class="search-container">
  		<div class="col-md-5" id="search-text">
  			 64 Results
  		</div>
  		<div class="col-md-7">
  			<input placeholder="Leading teams..">
  		</div>
  	</div>

	<div class="card-display">
		<div class="card">
			<header>
				
			</header>
			<footer>

				<h5>
					Leading at a higher level 
				</h5>
				<div class="card-nav">

					<span class="add-button">  </span>
				</div>

			</footer>
		</div>

		<div class="card">
			<header>
				
			</header>
			<footer>

				<h5>
					Essential guide to leading your team
				</h5>
				<div class="card-nav">
					<span class="add-button">  </span>
				</div>

			</footer>
		</div>
		<div class="card">
			<header>
				
			</header>
			<footer>

				<h5>
					Sandler Manager Playbook 
				</h5>
				<div class="card-nav">
					
					<span class="add-button"> </span>
				</div>

			</footer>
		</div>

		<div class="card">
			<header>
			
			</header>
			<footer>

				<h5>
					lkjasdklas
				</h5>
				<div class="card-nav">
					
					<span class="add-button">  </span>
				</div>

			</footer>
		</div>

		<div class="card">
			<header>
				
			</header>
			<footer>

				<h5>
					lkjasdklas
				</h5>
				<div class="card-nav">
					<span class="add-button">  </span>
				</div>

			</footer>
		</div>
		<div class="card">
			<header>
				
			</header>
			<footer>

				<h5>
					lkjasdklas
				</h5>
				<div class="card-nav">
					
					<span class="add-button"> + </span>
				</div>

			</footer>
		</div>


		<br>
	</div>
  </div>

</div>
<hr>
<div class="row info-container analytics">
	<div class="analytics-card">
		Rep
	</div>
	<div class="analytics-card">
		Task Queue
	</div>
	<div class="analytics-card" id="last-card">
		Calendar View
	</div>

	{{outlet}}
</div>

<div class="row info-container analytics">
	<div class="analytics-card">
		{{calendar-map}}
	</div>

</div>




{{!-- <div id="cal-heatmap">s</div>
<script type="text/javascript">


    ///////////////////////////////////////////////////
    // Edit from here
	console.log("debugging calendar");
	var calendar = new CalHeatMap();
	console.log(calendar);
	// calendar.init({
	// 	data: data,
	// 	start: new Date(2000, 0),
	// 	domain : "year",
	// 	subDomain : "day",
	// 	range : 1,
	// 	scale: [40, 60, 80, 100],
	// 	itemName: ["chat perdu", "chats perdus"],
	// 	cellLabel: {
	// 		empty: "Aucune données pour le {date}",
	// 		filled: "il y a eu {count} {name} le {date}"
	// 	},
	// 	scaleLabel: {
	// 		lower: "Belle journée, il y a eu moins de {min} {name}",
	// 		inner: "Pas mal, entre {down} et {up} {name}",
	// 		upper: "Peut faire mieux, plus de {max} {name}"
	// 	},
	// 	format: {
	// 		date: function(date) {
	// 			return moment(date).format("LL");
	// 		},
	// 		legend: null,
	// 	}
	// });


    // End edition    
    ///////////////////////////////////////////////////

</script>
 --}}



		{{firstName}}'s {{musicGenre}} practice log
		{{#each artist in model}}
			<p>Name: {{artist.name}}</p>
			<p>Details: {{artist.info}}</p>
			<p>Hours: {{artist.duration}}</p>
			<p>Weaknesses: {{artist.weakness}}</p>
		{{/each}}

<style>
	#cal-heatmap {
		border: 1px solid green;
		overflow: hidden;
	}
</style>
<div id="cal-heatmap"></div>
<script type="text/javascript">
	var cal = new CalHeatMap();
	cal.init({});
</script>




